* {
  box-sizing: border-box;
}

body, html {
  display: block;
  padding:0;
  margin:0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

.nav {
  padding:0;
  margin-left: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  font-family: 'Courier New';
  font-weight: 10;
  font-style: normal;
  background-color: black;
}

 .menu {
    width: 100%;
    background-color: black;
    display: none;
    margin-bottom: 3px;
  }

  .menu a {
    padding-top: 1px;
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 35px;
  }

 .nav label {
    margin-right: 5px;
    text-align: right;
    width: 25px;
    cursor: pointer;
    color: whitesmoke;
    
  }
  #toggle {
    display: none;
  }

  #toggle:checked + .menu {
    display: block;
    margin-bottom: 50px;
  }

  #toggle:checked + .nav {
    display: none;
    margin-bottom: 50px;
  }

/*
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
*/



.home {
  height: 100%;
  width: 100%;
  text-align: center;
  
}

.home h1 {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin: auto;
}
.home h2 {
  font-family: 'Courier New';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 10px;
}

.imghome {
  width: 90%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
}

.projects {
  padding-top: 200px;
  min-height: 100%;
  width: 100%;
}

.text {
  padding-top: 15px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.textintro {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.quizimg {
  width: 90%;
  height: 60%;
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}

.home input {
  text-align: center;
  height: 100%;
  width: 100%;
}

.projNBA {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}


.projects {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}
 .nbatxt h2 {
    font-family: 'Courier New';
    font-size: 16px;
  }

.links {
  text-align: left;
  width: 90%;
  display: inline-block;
  margin-bottom: 25px;
 
}

.link a {
  color: black;
  font-family: 'Courier New';
  display: inline-block;
  text-decoration: none;
}

.git {
  height: 30px;
  width: 57px;
  display: inline-block;
}


.nbaQuiz {
  height: 30%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.nbatxt h2 {
  font-family: 'Courier New';
  font-size: 16px;
  padding-bottom: 20px;
}

.projtoptxt {
  height: 30px;
  width: 100%;
  padding-bottom: 90px;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 20px;
}

.projtoptxt h1 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 18px;
}

.projtoptxt h2 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 16px;
}

.footer {
  overflow-wrap: break-word;
   display: block;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  height: 100px;
  word-break: break-all;  
}



.linkdin {
  display: inline-block;
}

.email a {
   overflow-wrap: break-word;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Courier New';
  color: whitesmoke;
  padding-right:5px;;
   word-wrap: break-word;
}





@media screen and (min-width: 320px) {
 body, html {
  display: block;
  padding:0;
  margin:0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

.nav {
  padding:0;
  margin-left: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  font-family: 'Courier New';
  font-weight: 10;
  font-style: normal;
  background-color: black;
}

 .menu {
    width: 100%;
    background-color: black;
    display: none;
    margin-bottom: 3px;
  }

  .menu a {
    padding-top: 1px;
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 35px;
  }

 .nav label {
   margin-right: 5px;
   text-align: right;
    width: 25px;
    cursor: pointer;
    color: whitesmoke;
    
  }
  #toggle {
    display: none;
  }

  #toggle:checked + .menu {
    display: block;
    margin-bottom: 50px;
  }

  #toggle:checked + .nav {
    display: none;
    margin-bottom: 50px;
  }

/*
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
*/



.home {
  height: 100%;
  width: 100%;
  text-align: center;
  
}

.home h1 {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin: auto;
}
.home h2 {
  font-family: 'Courier New';
  font-size: 16px;
  padding-bottom: 10px;
}

.imghome {
  width: 90%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
}

.projects {
  padding-top: 200px;
  min-height: 100%;
  width: 100%;
}

.text {
  padding-top: 15px;
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

.text h2 {
  font-family: 'Courier New';
  font-size: 16px;
}

.textintro {
  width: 90%;
  margin: 0 auto;
  padding-top: 100px;
}

.quizimg {
  width: 80%;
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}

.home input {
  text-align: center;
  height: 100%;
  width: 100%;
}

.projNBA {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}


.projects {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}
 .nbatxt h2 {
    font-family: 'Courier New';
    font-size: 16px;
  }

.links {
  text-align: left;
  width: 90%;
  display: inline-block;
  margin-bottom: 25px;
 
}

.link a {
 color: black;
  font-family: 'Courier New';
  display: inline-block;
  text-decoration: none;
}

.git {
  height: 30px;
  width: 57px;
  display: inline-block;
}


/* changing*/
.nbaQuiz {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.nbatxt h2 {
  font-family: 'Courier New';
  font-size: 16px;
  padding-bottom: 20px;
}

.projtoptxt {
  height: 30px;
  width: 100%;
  padding-bottom: 90px;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 20px;
}

.projtoptxt h1 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 18px;
}

.projtoptxt h2 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 16px;
}

.footer {
  overflow-wrap: break-word;
  display: block;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  height: 100px;
  word-break: break-all;  
}



.linkdin {
  display: inline-block;
}

.email a {
   overflow-wrap: break-word;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Courier New';
  color: whitesmoke;
  padding-right:5px;;
   word-wrap: break-word;
  }
}













@media screen and (min-width: 480px) {
 body, html {
  display: block;
  padding:0;
  margin:0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

.nav {
  padding:0;
  margin-left: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  font-family: 'Courier New';
  font-weight: 10;
  font-style: normal;
  background-color: black;
}

 .menu {
    width: 100%;
    background-color: black;
    display: none;
    margin-bottom: 3px;
  }

  .menu a {
    padding-top: 1px;
    width: 100%;
    display: inline-block;
    text-align: center;
    height: 35px;
  }

 .nav label {
   margin-right: 5px;
   text-align: right;
   width: 25px;
   cursor: pointer;
   color: whitesmoke;
    
  }
  #toggle {
    display: none;
  }

  #toggle:checked + .menu {
    display: block;
    margin-bottom: 50px;
  }

  #toggle:checked + .nav {
    display: none;
    margin-bottom: 50px;
  }

/*
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
*/



.home {
  height: 70%;
  width: 100%;
  text-align: center;
  
}

.home h1 {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin: auto;
}
.home h2 {
  font-family: 'Courier New';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 10px;
}

.imghome {
  width: 70%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
}

.text {
  padding-top: 15px;
  width: 70%;
  text-align: center;
  margin: 0 auto;
}

.textintro {
  width: 70%;
  margin: 0 auto;
  padding-top: 100px;
}

.quizimg {
  width: 60%;
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}

.home input {
  text-align: center;
  height: 100%;
  width: 70%;
}

.projects {
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}
 .nbatxt h2 {
    font-family: 'Courier New';
    font-size: 16px;
  }

.links {
  text-align: left;
  width: 70%;
  display: inline-block;
  margin-bottom: 25px;
}

.link a {
  color: black;
  font-family: 'Courier New';
  display: inline-block;
  text-decoration: none;
}

.git {
  height: 30px;
  width: 57px;
  display: inline-block;
}

/* changing*/
.nbaQuiz {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.nbatxt h2 {
  font-family: 'Courier New';
  font-size: 16px;
  padding-bottom: 20px;
}

.projtoptxt {
  margin: auto;
  height: 30px;
  width: 100%;
  padding-bottom: 90px;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 20px;
}

.projtoptxt h1 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 18px;
}

.projtoptxt h2 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 16px;
}

.footer {
  overflow-wrap: break-word;
   display: block;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  height: 100px;
  word-break: break-all;  
}



.linkdin {
  display: inline-block;
}

.email a {
   overflow-wrap: break-word;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Courier New';
  color: whitesmoke;
  padding-right:5px;;
   word-wrap: break-word;
  }
}





@media screen and (min-width: 800px) {
 body, html {
  display: block;
  padding:0;
  margin:0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

.nav {
  padding:0;
  margin-left: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  font-family: 'Courier New';
  font-weight: 10;
  font-style: normal;
  background-color: black;
}  


.menu { 
  
  display: inline-block;

}

.menu a {
  font-family: 'Courier New';
  margin-right: 5px;
  text-decoration: none;
  color: whitesmoke;
  display: inline;


}

label {
  display: none;

}

#toggle {
  display: none;
}

/*
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
*/



.home {
  height: 60%;
  width: 100%;
  text-align: center;
  
}

.home h1 {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin: auto;
}
.home h2 {
  font-family: 'Courier New';
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  padding-bottom: 10px;
}

.imghome {
  max-width: 60%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
}

.projects {
  padding-top: 200px;
  min-height: 100%;
  width: 60%;
}

.text {
  padding-top: 15px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.textintro {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}

.quizimg {
  width: 60%;
  height: 60%;
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}

.home input {
  text-align: center;
  height: 100%;
  width: 60%;
}

.projects {
  width: 60%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}
 .nbatxt h2 {
    font-family: 'Courier New';
    font-size: 16px;
  }

.links {
  text-align: left;
  width: 70%;
  display: inline-block;
  margin-bottom: 25px;
}

.link a {
  color: black;
  font-family: 'Courier New';
  display: inline-block;
  text-decoration: none;
}

.git {
  height: 30px;
  width: 57px;
  display: inline-block;
}

/* changing*/
.nbaQuiz {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.nbatxt h2 {
  font-family: 'Courier New';
  font-size: 16px;
  padding-bottom: 20px;
}

.projtoptxt {
  height: 30px;
  width: 60%;
  padding-bottom: 90px;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 20px;
}

.projtoptxt h1 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 18px;
}

.projtoptxt h2 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 16px;
}

.footer {
  overflow-wrap: break-word;
   display: block;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  height: 100px;
  word-break: break-all;  
}



.linkdin {
  display: inline-block;
}

.email a {
   overflow-wrap: break-word;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Courier New';
  color: whitesmoke;
  padding-right:5px;;
   word-wrap: break-word;
  }
}






@media screen and (min-width: 1600px) {
 body, html {
  display: block;
  padding:0;
  margin:0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

}

.nav {
  padding:0;
  margin-left: 0;
  position: fixed;
  width: 100%;
  text-align: right;
  height: 70px;
  line-height: 70px;
  font-family: 'Courier New';
  font-weight: 10;
  font-style: normal;
  background-color: black;
}

.menu { 
  
  display: inline-block;

}

.menu a {
  font-family: 'Courier New';
  margin-right: 5px;
  text-decoration: none;
  color: whitesmoke;
  display: inline;
}

label {
  display: none;

}

#toggle {
  display: none;
}

  #toggle:checked + .menu {
    display: block;
    margin-bottom: 50px;
  }

  #toggle:checked + .nav {
    display: none;
    margin-bottom: 50px;
  }

/*
label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}
*/



.home {
  height: 60%;
  width: 100%;
  text-align: center;
  
}

.home h1 {
  font-family: 'Courier New';
  font-weight: bold;
  font-style: normal;
  font-size: 24px;
  padding-bottom: 25px;
  padding-top: 15px;
  margin: auto;
}
.home h2 {
  font-family: 'Courier New';
  font-size: 18px;
  padding-bottom: 10px;
}

.imghome {
  max-width: 60%;
  height: 40%;
  margin: 0 auto;
  text-align: center;
}

.projects {
  padding-top: 200px;
  min-height: 100%;
  width: 60%;
}

.text {
  padding-top: 15px;
  width: 60%;
  text-align: center;
  margin: 0 auto;
}

.textintro {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
}

.quizimg {
  width: 60%;
  height: 60%;
  padding-bottom: 25px;
  margin: 0 auto;
  text-align: center;
}

.home input {
  text-align: center;
  height: 100%;
  width: 60%;
}

.projects {
  width: 60%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  text-decoration: none;
}
 .nbatxt h2 {
    font-family: 'Courier New';
    font-size: 18px;
  }

.links {
  text-align: left;
  width: 70%;
  display: inline-block;
  margin-bottom: 25px;
}

.link a {
  color: black;
  font-family: 'Courier New';
  display: inline-block;
  text-decoration: none;
}

.git {
  height: 30px;
  width: 57px;
  display: inline-block;
}

.nbaQuiz {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.nbatxt h2 {
  font-family: 'Courier New';
  font-size: 18px;
  padding-bottom: 20px;
}

.projtoptxt {
  height: 30px;
  width: 60%;
  padding-bottom: 90px;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 24px;
}

.projtoptxt h1 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 24px;
}

.projtoptxt h2 {
  font-weight: bold;
  font-family: 'Courier New';
  font-style: normal;
  font-size: 18px;
}

.footer {
  overflow-wrap: break-word;
   display: block;
  position: relative;
  width: 100%;
  background-color: black;
  color: white;
  text-align: right;
  height: 100px;
  word-break: break-all;  
}



.linkdin {
  display: inline-block;
}

.email a {
   overflow-wrap: break-word;
}

.footer a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  font-family: 'Courier New';
  color: whitesmoke;
  padding-right:5px;;
   word-wrap: break-word;
  }
}
